<div fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let prop of properties">
        <mat-card [style.background]="'url(' + prop.photoThumbnailUrl + ') no-repeat'">
            <mat-card-subtitle>{{ prop.address }}</mat-card-subtitle>
            <mat-card-title>{{ prop.displayPrices[0].displayPrice }}</mat-card-title>
            <mat-card-content>
                <p>Sort of desc..</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <section class="container" *ngFor="let prop of properties">
    <div class="card" (click)="flip()">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
  </section> -->

