<div fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let prop of properties" >
        <a href="{{'https://www.rightmove.co.uk/properties/' + prop.identifier}}" target="_blank">
            <mat-card [style.background]="'url(' + prop.photoThumbnailUrl + ') no-repeat'">
                <mat-card-subtitle>{{ prop.address }}</mat-card-subtitle>
                <mat-card-title>{{ prop.displayPrices[0].displayPrice }}</mat-card-title>
                <mat-card-content>
                    <p>Sort of desc..</p>
                </mat-card-content>
            </mat-card>

            <!-- <mat-card [style.background]="'url(' + prop.photoThumbnailUrl + ') no-repeat'">
                <mat-card-subtitle>{{ prop.address }}</mat-card-subtitle>
                <mat-card-title>{{ prop.displayPrices[0].displayPrice }}</mat-card-title>
                <mat-card-content>
                    <p>Sort of desc..</p>
                </mat-card-content>
            </mat-card> -->
        </a>
    </div>
</div>

<!-- <section class="container" *ngFor="let prop of properties">
    <div class="card" (click)="flip()">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
  </section> -->

