  <mat-toolbar>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/dashboard" *ngIf="isAuthenticated()">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button routerLink="/contact">
      <mat-icon>mail</mat-icon>
    </button>
    <span class="spanning"></span>
    <button mat-icon-button routerLink="/config" *ngIf="isAuthenticated()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button routerLink="/" *ngIf="isAuthenticated()" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <button *ngIf="!isAuthenticated()" mat-icon-button routerLink="/login">
      Login<mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

<router-outlet></router-outlet>
