<!-- TODO: Support many -->

<div *ngFor="let item of items">

<div class="example-container">
  <header>To do</header>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="item.todo"
    [cdkDropListConnectedTo]="[inProgressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let itm of item.todo" cdkDrag>
        {{itm.name}}
    </div>
  </div>
</div>
  
<div class="example-container">
  <header>In progress</header>
  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="item.ongoing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let itm of item.ongoing" cdkDrag>{{itm.name}}</div>
  </div>
</div>


<div class="example-container">
  <header>Done</header>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="item.done"
    [cdkDropListConnectedTo]="[inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let itm of item.done" cdkDrag>{{itm.name}}</div>
  </div>
</div>

</div>
