<!-- TODO: Support many -->
<div *ngFor="let item of items">

<div class="example-container">
  <header>To do</header>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="item.todo"
    [cdkDropListConnectedTo]="[inProgressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let itm of item.todo" cdkDrag>
        <section>{{itm.name}}</section>
        <span class="spacer"></span>
        <!-- <mat-icon color="warn" (click)="edit(itm)">edit</mat-icon> -->
        <mat-icon color="warn" (click)="delete(item.todo, itm)">cancel</mat-icon>
    </div>
  </div>
  <div class="example-list">
    <app-todo-add (addEvent)="addTodo($event)"></app-todo-add>
  </div>
</div>
  
<div class="example-container">
  <header>In progress</header>
  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="item.ongoing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let itm of item.ongoing" cdkDrag>
      {{itm.name}}
      <span class="spacer"></span><mat-icon color="warn" (click)="delete(item.ongoing, itm)">cancel</mat-icon>
    </div>
  </div>
  <div class="example-list">
    <app-todo-add (addEvent)="addOngoing($event)"></app-todo-add>
  </div>
</div>

<div class="example-container">
  <header>Done</header>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="item.done"
    [cdkDropListConnectedTo]="[inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let itm of item.done" cdkDrag>
      {{itm.name}}
      <span class="spacer"></span><mat-icon color="warn" (click)="delete(item.done, itm)">cancel</mat-icon>
    </div>
  </div>
  <div class="example-list">
    <app-todo-add (addEvent)="addDone($event)"></app-todo-add>
  </div>
</div>

</div>
