app-widget-container
    width: 100%
    height: 100%

.example-spacer
  flex: 1 1 auto

mat-card
    width: calc(100% - 10px)
    height: calc(100% - 10px)
    padding: 0
    mat-toolbar-row button
        opacity: 0
        visibility: none
        transition: visibility 0s, opacity 0.5s linear
mat-card:hover
    mat-toolbar-row button
        opacity: 1
        visibility: visible
    
mat-card-content
    height: 100%
    > :not(mat-toolbar)
        padding: 16px
    & mat-toolbar
        min-height: 44px
        & mat-toolbar-row
            height: 44px

.loading
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

mat-toolbar
    filter: brightness(0.85)