<mat-card [style.background]="color" [style.color]="secondaryColor">
    <mat-card-content>
        <mat-toolbar [style.background]="color" [style.color]="secondaryColor">
            <mat-toolbar-row>
                <span>{{name}}</span>
                <span class="example-spacer"></span>
                <button mat-icon-button aria-label="icon-button with favourite icon">
                    <mat-icon [inline]="true">favorite</mat-icon>
                </button>
                <button mat-icon-button *ngIf="desc" [matTooltip]="desc" #tooltip="matTooltip">
                    <mat-icon [inline]="true">info</mat-icon>
                </button>
                <button mat-icon-button (click)="config($event)">
                    <mat-icon [inline]="true">settings</mat-icon>
                </button>
                <button mat-icon-button aria-label="icon-button with delete icon">
                    <mat-icon [inline]="true">delete</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div *ngIf="!widgets" class="loading">
            <!--TODO: Backdrop service-->
            Loading..<mat-spinner></mat-spinner>
        </div>

        <div *ngIf="widgets">
            <span *ngFor="let widget of widgets" [ngSwitch]="widget.type">
                <span *ngSwitchCase="widgetTypes.Todo">
                    <app-todos [widget]="widget" (widgetEvent)="handleWidget($event)"></app-todos>
                </span>
                <app-urls *ngSwitchCase="widgetTypes.Url"></app-urls>
                <app-rss *ngSwitchCase="widgetTypes.Rss" 
                    [widget]="widget" [configEvt]="configEvent" (widgetEvent)="handleWidget($event)"
                ></app-rss>
                <app-schedulers *ngSwitchCase="widgetTypes.Scheduler" [widget]="widget" 
                    (widgetEvent)="handleWidget($event)">
                </app-schedulers>
                <app-graphs *ngSwitchCase="widgetTypes.Graph"></app-graphs>
                <app-right-move *ngSwitchCase="widgetTypes.Rightmove" [widget]="widget"></app-right-move>
                <div *ngSwitchDefault [innerHTML]="widget.data"></div>
            </span>
        </div>

    </mat-card-content>
</mat-card>