<div flex fxLayout="row">
    <div fxFlex="100" *ngIf="!editing" >
          <button mat-icon-button color="primary" (click)="toggle()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div fxFlex="72" *ngIf="editing">
        <div flex fxLayout="row">
            <div fxFlex="70">
                <mat-form-field appearance="fill">
                    <mat-label>{{ scheduler ? 'Edit description' : 'Add description' }}</mat-label>
                    <input matInput [(ngModel)]="desc">
                </mat-form-field>
            </div>
            <div fxFlex="30">
                <mat-slide-toggle [(ngModel)]="occurance" matTooltip="Daily re-occurance">
                </mat-slide-toggle>
            </div>
        </div>
        <mat-form-field appearance="fill" *ngIf="!occurance">
            <mat-label>Choose period</mat-label>
            <input matInput type="datetime-local"
                [value]="date" (change)="setDate($event)" />
        </mat-form-field>
        <ngx-timepicker-field [format]="24" *ngIf="occurance" [(ngModel)]="time"></ngx-timepicker-field>
    </div>
    <div fxFlex="28" *ngIf="editing">
        <div flex fxLayout="column">
            <button *ngIf="!scheduler" mat-raised-button color="primary" (click)="add()" 
                [disabled]="!desc || (!date && !occurance) || (!time && occurance)">
                Add
            </button>
            <button *ngIf="scheduler" mat-raised-button color="primary" (click)="edit()" 
            [disabled]="!desc || (!date && !occurance) || (!time && occurance)">
                Edit
            </button>
            <button mat-raised-button color="warn" (click)="toggle()">Cancel</button>
        </div>
    </div>
</div>