<!-- <mat-toolbar>
    <mat-toolbar-row>
        <h1>Dashboard</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with add icon">
            <mat-icon round>add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon"
            (click)="configWidgets()" [matTooltip]="'Configure dashboard widgets'" #tooltip="matTooltip">
            <mat-icon round>settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with reset icon" 
                (click)="resetWidgets()" [matTooltip]="'Reset all the widgets to default. Be aware !'" #tooltip="matTooltip">
            <mat-icon round>restart_alt</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<p></p>
<mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <app-widget-container [color]="tile.color" [name]="tile.name" [desc]="tile.desc" [groupId]="tile.content"></app-widget-container>
    </mat-grid-tile>
</mat-grid-list> -->
<h1>Hello dude</h1>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
