<mat-toolbar>
    <mat-toolbar-row>
        <h1>Dashboard</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with add icon">
            <mat-icon round>add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon"
            (click)="configWidgets()" [matTooltip]="'Configure dashboard & its tiles'" #tooltip="matTooltip">
            <mat-icon round>settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with reset icon" 
                (click)="resetWidgets()" [matTooltip]="'Reset all the widgets to default. Be aware !'" #tooltip="matTooltip">
            <mat-icon round>restart_alt</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<p></p>
<mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <app-widget-container [color]="tile.color" [name]="tile.name" [desc]="tile.desc" [groupId]="tile.content"></app-widget-container>
    </mat-grid-tile>
</mat-grid-list>
